python-dotenv
flask
flask-graphql
flask-migrate
flask-marshmallow
flask-script
flask-sqlalchemy
marshmallow-sqlalchemy
connexion
sqlalchemy
graphene
graphene-sqlalchemy
psycopg2-binary
autoflake
bandit
black
certifi
coverage
flake8
flake8-polyfill
isort
lazy-object-proxy
mccabe
mypy
mypy-extensions
pre-commit
py
pycodestyle
pyflakes
pylint
pyparsing
pytest
pytest-cov
pytest-datafiles
safety
types-requests
typing-extensions
